.main-color {
    background-color: rgb(254, 248, 240);
}

.section-color {
    background-color: rgb(69, 141, 249);
}

.title-color {
    color: rgb(255, 255, 255);
}

.header-color{
    background-color: rgb(182, 52, 52);
}