.layout-color {
    background-color: rgb(254, 248, 240);
}

.bg-blue-plus {
    background-color: rgb(54, 113, 201);
}

.text-blue-plus {
    color: rgb(54, 113, 201);
}

.title-color {
    color: rgb(255, 255, 255);
}

.bg-red-plus{
    background-color: rgb(187, 37, 37);
}

.layout-survey {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 24px;
  align-items: stretch;
}

.layout-survey > div {
  display: flex;
}

.layout-survey > div > section {
  flex: 1;
}

.btn-view-1 {
  cursor: pointer;
  width: 50%;
  border-color: rgb(187, 37, 37);
  color: rgb(187, 37, 37);
}

.btn-view-2 {
  cursor: pointer;
  width: 50%;
}